<section class="page-section bg-light" id="gioithieu" style="min-height: 700px;">
    <div class="container">
        <h2>Lời giới thiệu</h2>
        <hr>
        <div class="row">
            <div class="col-6">
                <img src="images/learning.jpg" width="1000px" class="img-fluid" alt="">
            </div>
            <div class="col-6">
                <ul style="list-style-type: none;">
                    <li><h5>Trang web Tôi Tự Học</h5></li>
                    <li>Giúp sinh viên thi trắc nghiệm, trau dồi kiến thức.</li>
                    <li>Giảng viên dễ dàng xây dựng, cập nhập những bài kiểm tra từng kỳ cho sinh viên làm để đánh giá trình độ của sinh viên.</li>
                    <li>Hộc sinh có thể đăng nhập vào và </li>
                </ul>
            </div>
        </div>
    </div>
</section>